Repository tl-its-umich-edu/my-learning-analytics, pull requests merged in 2019-06, with the labels that each got.

#529 Cleanup unused files, simplify base.html
  assets/src/components/AvatarModal.js
  assets/src/containers/App.js
  assets/src/containers/AssignmentPlanning.js
  assets/src/containers/DashboardAppBar.js
  dashboard/common/db_util.py
  dashboard/context_processors.py
  dashboard/settings.py
  dashboard/static/css/assign.css
  dashboard/static/css/dashboard.css
  dashboard/static/css/file_access_within_week.css
  dashboard/static/css/grades.css
  dashboard/static/css/rSlider.min.css
  dashboard/static/images/File_access_trends_icon.png
  dashboard/static/images/assignments_planning_icon.png
  dashboard/static/images/grade_distribution_Icon.png
  dashboard/static/images/grades_distribution_image.png
  dashboard/static/js/app.js
  dashboard/static/js/assign-progress.js
  dashboard/static/js/controllers.js
  dashboard/static/js/d3.legend.js
  dashboard/static/js/factories.js
  dashboard/static/js/file_access_within_week.js
  dashboard/static/js/grade_distribution.js
  dashboard/static/js/rSlider.min.js
  dashboard/static/json/sample_grade_distribution.json
  dashboard/static/json/top_file_access_week.json
  dashboard/static/json/top_file_access_week_grade.json
  dashboard/templates/assignments.html
  dashboard/templates/base.html
  dashboard/templates/courses.html
  dashboard/templates/grades.html
  dashboard/templates/home.html
  dashboard/templates/view_file_access_within_week.html
  dashboard/urls.py
  static/images/assignments_planning_icon.png
  static/images/file_access_trends_icon.png
  static/images/grade_distribution_icon.png
Labels: In_progress

#438 Add basic access control
  dashboard/cron.py
  dashboard/migrations/0002_user_enrollment_type.py
  dashboard/models.py
  dashboard/rules.py
  dashboard/settings.py
  dashboard/urls.py
  dashboard/views.py
  requirements.txt
Labels: cron, enhancement

#551 Correctly route to index page when app bar name is clicked
  assets/src/containers/DashboardAppBar.js
Labels: bug
