Repository tl-its-umich-edu/my-learning-analytics, pull requests merged in 2020-12, with the labels that each got.

#1122 Assignment Planning V2: Assignment Name, Assignment Group, Graded Only filters.
  assets/src/components/AssignmentTable.js
  assets/src/components/d3/createResourceAccessChart.js
  assets/src/hooks/useAssignmentData.js
Labels: UI : assignment (redesign)

#1101 Added `getjwk` management command (issue #1065)
  dashboard/common/keyfileutils.py
  dashboard/lti_new.py
  dashboard/management/commands/createkeys.py
  dashboard/management/commands/getjwk.py
  requirements.txt
Labels: LTI, config change, 📈 enhancement

#1142 Requirements updates for Assignment Planning V2 filters.
  assets/src/components/AssignmentTable.js
  assets/src/containers/AssignmentPlanningV2.js
  assets/src/util/assignment.js
Labels: UI : assignment (redesign)

#1155 Make axis lines, ticks, and text black (where appropriate) (#802)
  assets/src/__tests__/components/d3/__snapshots__/createHistogram.test.js.snap
  assets/src/components/d3/createHistogram.js
  assets/src/components/d3/createResourceAccessChart.js
  assets/src/index.css
Labels: Frontend, accessibility, bug, javascript

#1154 Introduce warning color to theme palette, use in StyledTextField (#878)
  assets/src/components/StyledTextField.js
  assets/src/defaultPalette.js
Labels: Frontend, UI : assignment (redesign), javascript, 📈 enhancement

#1157 Scroll to current week improvement
  assets/src/components/AssignmentTable.js
Labels: UI : assignment (redesign)

#1171 Fix config error in JWK code (Issue #1153)
  dashboard/lti_new.py
Labels: ⚠️ priority, 🐛 bug

#1174 Make Typography component in help docs link appear as p tag instead of h4 (#807)
  assets/src/components/SelectCard.js
Labels: Frontend, accessibility, 🐛 bug

#1170 When a new course is added with a start date in the future, nothing i…
  dashboard/cron.py
  dashboard/models.py
Labels: backend, cron, 🐛 bug

#1180 Change "My Minimum Goal" to "My Minimum Goal (%)" (#1179)
  assets/src/components/AssignmentGoalInput.js
  assets/src/containers/AssignmentPlanningV2.js
Labels: Frontend, 📈 enhancement
