Repository tl-its-umich-edu/my-learning-analytics, pull requests merged in 2020-03, with the labels that each got.

#863 Made Hamburger Menu Accessible by Keyboard
  assets/src/containers/Course.js
  assets/src/containers/DashboardAppBar.js
  assets/src/containers/SideDrawer.js
Labels: accessibility

#910 Make Resources Accessed resize gracefully, re-work spacing (#694)
  assets/src/components/d3/createResourceAccessChart.js
  assets/src/containers/ResourcesAccessed.js
  assets/src/hooks/useResponsiveness.js
Labels: UI : Resources Accessed, backlog, bug

#915 Fixes #873 - Display course in cron where earliest found
  dashboard/admin.py
  dashboard/common/utils.py
  dashboard/cron.py
  dashboard/models.py
  dashboard/urls.py
  dashboard/views.py
Labels: cron, 📈 enhancement

#908 Smoother Keyboard Traversing of Buttons on Index Page
  assets/src/containers/IndexPage.js
Labels: accessibility, bug

#919 #918 same resources(id) used in different course fail the cron
  dashboard/cron.py
  dashboard/migrations/0015_add_auto_field_to_resources.py
  dashboard/models.py
  dashboard/views.py
Labels: bug, cron
