Repository tl-its-umich-edu/my-learning-analytics, pull requests merged in 2020-06, with the labels that each got.

#938 Fixed rounding bug
  assets/src/components/AssignmentTable.js
  assets/src/util/assignment.js
Labels: UI : Assignment (Redesign), bug, react

#949 Implement ViewHeader component, make view structure consistent (#801)
  assets/src/components/ViewHeader.js
  assets/src/containers/AssignmentPlanning.js
  assets/src/containers/AssignmentPlanningV2.js
  assets/src/containers/GradeDistribution.js
  assets/src/containers/ResourcesAccessed.js
  assets/src/globals.js
  assets/src/index.css
Labels: UI : Assignment (Redesign), UI : Assignments, UI : Grades, UI : Resources Accessed, accessibility, react

#940 Refactor mouse-over PopupMessage, fill in goal and assignment details (#876)
  assets/src/components/PopupMessage.js
Labels: UI : Assignment (Redesign), react, 📈 enhancement

#955 Fixed goalGradeSetByUser type
  assets/src/util/assignment.js
Labels: UI : Assignment (Redesign), bug
