Repository tl-its-umich-edu/my-learning-analytics, pull requests merged in 2022-09, with the labels that each got.

#1398 Split `README.md` into separate chunks in `/docs`, review content (#661)
  CONTRIBUTING.md
  README.md
  config/env_sample.hjson
  demo_init.sh.sample
  docs/CONTRIBUTING.md
  docs/CONTRIBUTORS.md
  docs/accessibility.md
  docs/configuration.md
  docs/getting_started.md
  docs/license_info.md
  docs/loading_data.md
  docs/testing.md
Labels: 📈 enhancement, 📖 documentation

#1424 Fixes #1327 - Improve verify_course_ids to only consider courses with local data
  dashboard/cron.py
  dashboard/models.py
Labels: 📈 enhancement, 📅 cron, ⚙️ backend

#1423 issue #827 update the cron query to execute in batch mode
  config/cron.hjson
  config/cron_udp.hjson
  dashboard/cron.py
  scripts/data_validation/validate_udw_vs_udp.py
Labels: 📅 cron, config change needed

#1425 Allow for environment variable override of `env.hjson` values (#787)
  config/env_sample.hjson
  dashboard/settings.py
  docs/configuration.md
Labels: 📈 enhancement, config change needed, ⚙️ backend

#1403 Fixes #1402 - Add support for configuring X_FORWARDED_HOST.
  config/env_sample.hjson
  dashboard/settings.py
Labels: 🐛 bug, ⚙️ backend

#1431 Use `course_date_range` logic for GraphQL course start date (#1430)
  dashboard/graphql/objects.py
  dashboard/models.py
  dashboard/views.py
Labels: 🐛 bug, ⚙️ backend
