Repository tl-its-umich-edu/my-learning-analytics, pull requests merged in 2022-08, with the labels that each got.

#1391 issue-1332 added cron query to retrieve Canvas page usage events
  config/env_sample.hjson
Labels: cron, config change needed

#1395 #764 filter out non-student resource access events
  dashboard/cron.py
Labels: 🐛 bug, cron, backend

#1401 Fixes #1396 - Check if deployment ID claim is missing and return an error even if validation is disabled
  dashboard/lti_new.py
Labels: 🐛 bug, backend, LTI

#1405 Fixes #1094 - STUDENT_DASHBOARD_LTI should be renamed
  config/env_sample.hjson
  dashboard/common/utils.py
  dashboard/settings.py
  dashboard/urls.py
Labels: 📈 enhancement, config change needed, ⚙️ backend
